<ng-container *ngIf="(connected$ | async) === false">
  <div *ngIf="!isShowWalletSelect" (click)="onBtnClick()">Connect</div>

  <ng-container *ngIf="isShowWalletSelect">
    <select [ngModel]="walletName$ | async" (ngModelChange)="onSelectWallet($event)" class="fs-5 bg-white text-black" style="width: 10rem">
      <option value="default" disabled>Select a wallet</option>
      <option *ngFor="let wallet of wallets$ | async" [ngValue]="wallet.adapter.name">
        <span *ngIf="wallet.readyState === 'Installed'">{{ wallet.adapter.name }} (Installed)</span>
        <span *ngIf="wallet.readyState === 'NotDetected'">請安裝{{ wallet.adapter.name }}套件</span>
        <span *ngIf="wallet.readyState === 'Unsupported'">{{ wallet.adapter.name }}暫不支援</span>
      </option>
    </select>
  </ng-container>
</ng-container>

<ng-container *ngIf="connected$ | async">
  <div (click)="onDisconnect()">Disconnect</div>
</ng-container>

<ng-template #loading>
  <div>Connecting...</div>
</ng-template>
